[Unit]
Description=Remote MONitoring {{ variant }}. A simple tool for metrics monitoring.

[Service]
WorkingDirectory=/opt/rmon
User=rmon
Group=rmon
ExecStart=/opt/rmon/bin/rmon-{{ variant }} -c /etc/rmon/rmon-{{ variant }}.yaml

[Install]
WantedBy=multi-user.target
