[Unit]
Description=Remote MONitoring {{ variant }}. A simple tool for metrics monitoring.

[Service]
WorkingDirectory={{ install_dir }}
User=rmon
Group=rmon
ExecStart={{ install_dir }}/bin/rmon-{{ variant }} -c /etc/rmon/rmon-{{ variant }}.yaml

[Install]
WantedBy=multi-user.target
